<h1>Anywhere Test</h1>
<button id="xhr">XHR</button>
<button id="fetch">Fetch API</button>
<script>
  document.getElementById('xhr').onclick = function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'xhr_console');
    xhr.send();
  };

  document.getElementById('fetch').onclick = function() {
    fetch('xhr_console');
  };
</script>
